h1{
    color:rgb(61, 3, 22);
}
*{
    border:solid;
}

.header{
    background-color: rgb(247, 114, 181);
    display: flex;

    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
